/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */

 :root {
   --contrast: lime;
   --backgr: #000;
 }

/* Use your variables on elements */
/* 
main {
   color: var(--contrast);
   background-color: var(--backgr);
 }
   */

/** 
og nu skriver bruger B noget helt genialt CSS.

gemmer det og ....

DRAMATISK MUSIK ... !
*/

/* Nu vil jeg lave en merge conflict */
/* Så koden ændres af bruger et ... her ... nu */ 
